.overflow_hidden {
    overflow: hidden;
}

.border-anim-wrapper__item {
    position: relative;
    max-width: 300px;
    height: 50px;
}

.border-anim-wrapper__img {
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 33px;
    z-index: 1;
}

input, textarea{
    display: block;
    position: relative;
    z-index: 3;
}

