.getPresentation {

    .russian-flag {
        position: absolute;
        max-width: 60px;
        top: 0px;
        bottom: 0;
        left: 16px;
        margin: auto;
        border-radius: 5px;
    }

    .title {
        font-weight: 100;

        font-size: 4.5rem;
        line-height: 4.8rem;
    }

    &__desc {
        font-size: 4rem;
        line-height: 4.2rem;
    }

    &__subtitle {
        margin-top: 40px;
        font-weight: 200;
        font-size: 3rem;
        text-align: center;
    }

    .phone-wrapper {
        position: relative;
    }

    &__text_phone,
    &__text_phone:focus {
        font-size: 4rem;
        width: 100%;
        border-radius: 7px;
        padding: 10px 20px;
        border: 1px solid grey;
        z-index: 0;
        position: relative;
        padding-left: 100px;
    }

    .label {
        position: absolute;
        padding: 3px;
        display: block;
        z-index: 1;
        background: #fff;

        font-size: 2.1rem;
        left: 23px;
        top: -15px;
    }

    .checkbox-wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 2rem;
        max-width: 610px;
    }

    &__label_checkbox {
        padding-left: 1rem;
    }

    &__checkbox {
        width: 30px;
        height: 30px;
        cursor: pointer;


    }


    .social-network {
        height: 220px;
        margin-top: 30px;

        &__item {

            height: 100%;
            width: 25%;

            &_messenger {
                background: #2697ff;

                border-radius: 6px 0px 0 6px;
            }

            &_telegram {
                background: #1daaef;
            }

            &_viber {
                background: #672a91;
            }

            &_vk {
                background: #55779c;

                border-radius: 0px 6px 6px 0px;
            }
        }
    }
}
