$almostBlack: #141414;
$white: #fff;

.header {
    background: $almostBlack;
    color: #fff;
    text-align: left !important;

    &__container {

        padding-top: 20px;

        display: grid;
        grid-template-columns: minmax(50px, 200px) minmax(100px, 400px) minmax(100px, 400px) minmax(50px, 200px);
        grid-template-rows: 65px 150px;
        grid-template-areas:
            'pdf header__title header__title .'
            'pdf header__desc header__desc .'
            'header__link header__link img-wrapper img-wrapper';
        max-width: 90%;
        margin: auto;
    }

    .pdf {
        grid-area: pdf;

        max-width: 110px;
    }

    &__title {
        grid-area: header__title;
    }

    &__desc {
        grid-area: header__desc;
        position: relative;


        text-shadow: 0px 1px 0 rgb(255, 255, 255), 0px -1px 0 rgb(255, 255, 255), 1px 0px 0 rgb(255, 255, 255), -1px 0px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255), 0px 2px 0 rgb(255, 255, 255), 0px -2px 0 rgb(255, 255, 255), 2px 0px 0 rgb(255, 255, 255), -2px 0px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255), -2px 2px 0 rgb(255, 255, 255), -2px -2px 0 rgb(255, 255, 255);
        -webkit-text-shadow: 0px 1px 0 rgb(255, 255, 255), 0px -1px 0 rgb(255, 255, 255), 1px 0px 0 rgb(255, 255, 255), -1px 0px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255), 0px 2px 0 rgb(255, 255, 255), 0px -2px 0 rgb(255, 255, 255), 2px 0px 0 rgb(255, 255, 255), -2px 0px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255), -2px 2px 0 rgb(255, 255, 255), -2px -2px 0 rgb(255, 255, 255);
        -moz-text-shadow: 0px 1px 0 rgb(255, 255, 255), 0px -1px 0 rgb(255, 255, 255), 1px 0px 0 rgb(255, 255, 255), -1px 0px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255), 0px 2px 0 rgb(255, 255, 255), 0px -2px 0 rgb(255, 255, 255), 2px 0px 0 rgb(255, 255, 255), -2px 0px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255), -2px 2px 0 rgb(255, 255, 255), -2px -2px 0 rgb(255, 255, 255);
        font-size: 55px;
        color: $almostBlack;
    }


    .img-wrapper {
        grid-area: img-wrapper;
        justify-self: end;

        max-height: 150px;
        overflow: hidden;
    }

    &__link {
        grid-area: header__link;

        align-self: center;
        max-width: 140px;
        max-height: 30px;
    }
}



