@import "header";
@import "getPresentation";


@import "anims";


@font-face {
    font-family: "Nickelodeon";
    src: url('../fonts/Nickelodeon.ttf') format('TrueType');
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-regular.ttf') format('TrueType');
}

@font-face {
    font-family: "Gilroy-bold";
    src: url('../fonts/Gilroy-extraBold.otf') format('OpenType');
}



html,
body {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 10px;

    text-decoration: none;
    flex-wrap: wrap;
    box-sizing: border-box;



    font-family: Gilroy;

    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
}





.title-container {
    padding: 70px 0px 150px 0px;
    max-width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.title-header {
    font-family: Nickelodeon;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
}

.header__title-header {
    margin-top: 100px;
}

.title {
    margin-top: 20px;
    font-family: Nickelodeon;
    font-size: 4.5rem;
    line-height: 4.8rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.subtitle {
    margin-top: 35px;
    color: #131313;
    padding: 7px 15px;
    background: #8868D9;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.02em;
}

.opacity_1 {
    opacity: 1 !important;
}

.lets-go_anim {
    animation: 45s linear 0s normal none infinite running rot;
    -webkit-animation: 45s linear 0s normal none infinite running rot;
}

.container {
    margin: 0px auto;
    max-width: 90%;
}

.text_no-br {
    white-space: nowrap;
}

.overflow-x_hidden {
    overflow-x: hidden !important;
}

button {
    cursor: pointer !important;
}

.section {
    width: 100%;
}

.text_bold {
    font-weight: 600;
}

.color_alpha {
    color: transparent;
    color: rgba(0, 0, 0, 0);
}

input, input:focus{
    border: none;
    outline: none;
}

input {
    background: transparent;
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: 'none';
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #141414 !important;
    /* Цвет фона */
    -webkit-text-fill-color: #fff !important;
    /* цвет текста */
    color: #fff !important;
    /* цвет текста */
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 33px;
        line-height: 38px;
    }

    .subtitle {
        font-size: 19px;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 26px;
        line-height: 27px;
    }

    .subtitle {
        font-size: 13px;
    }
}
