@import "header";
@import "getPresentation";


@import "anims";


@font-face {
    font-family: "Nickelodeon";
    src: url('../fonts/Nickelodeon.ttf') format('TrueType');
}

@font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroy-regular.ttf') format('TrueType');
}

@font-face {
    font-family: "Gilroy-bold";
    src: url('../fonts/Gilroy-extraBold.otf') format('OpenType');
}



html,
body {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 10px;

    text-decoration: none;
    flex-wrap: wrap;
    box-sizing: border-box;



    font-family: Gilroy;

    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
}





.title-container {
    padding: 70px 0px 150px 0px;
    max-width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.title-header {
    font-family: Nickelodeon;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
}

.header__title-header {
    margin-top: 100px;
}

.title {
    margin-top: 20px;
    font-family: Nickelodeon;
    font-size: 4.5rem;
    line-height: 4.8rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.subtitle {
    margin-top: 35px;
    color: #131313;
    padding: 7px 15px;
    background: #8868D9;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.02em;
}

.opacity_1 {
    opacity: 1 !important;
}

.lets-go_anim {
    animation: 45s linear 0s normal none infinite running rot;
    -webkit-animation: 45s linear 0s normal none infinite running rot;
}

.container {
    margin: 0px auto;
    max-width: 90%;
}

.text_no-br {
    white-space: nowrap;
}

.overflow-x_hidden {
    overflow-x: hidden !important;
}

button {
    cursor: pointer !important;
}

.section {
    width: 100%;
}

.text_bold {
    font-weight: 600;
}

.color_alpha {
    color: transparent;
    color: rgba(0, 0, 0, 0);
}

input,
input:focus {
    border: none;
    outline: none;
}

input {
    background: transparent;
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: 'none';
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #141414 !important;
    /* Цвет фона */
    -webkit-text-fill-color: #fff !important;
    /* цвет текста */
    color: #fff !important;
    /* цвет текста */
}




/* прячем input checkbox */
input[type="checkbox"] {
    display: none;
}


/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
}

/* disabled */
input:disabled + label:before {
    background: #eee;
    color: #777;
}


/* прячем input checkbox */
input[type="checkbox"] {
    display: none;
}

/* стили для метки */
label {
    color: #777;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
    content: " ";
    color: #222;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 25px;
    height: 25px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */


input:checked + label:before {
    content: "✔";
}



@media screen and (max-width: 1100px) {
    .title {
        font-size: 3.5rem !important;
        line-height: 3.8rem !important;
    }
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 2.5rem !important;
        line-height: 2.8rem !important;
    }

    .getPresentation__desc {
        font-size: 2.1rem;
        line-height: 2.2rem;
    }

    .getPresentation__subtitle {
        font-size: 2rem;
    }

    .getPresentation .label {
        font-size: 1.5rem;
        left: 23px;
        top: -12px;
    }

    .getPresentation__text_phone,
    .getPresentation__text_phone:focus {
        font-size: 2.8rem;
    }

    .getPresentation .social-network {
        height: 110px;
    }

    .getPresentation .checkbox-wrapper {
        font-size: 1.5rem;
    }

    .getPresentation__checkbox {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 700px) {
    .pdf {
        max-width: 70px !important;
    }

    .header {
        &__container {
            /* 
            grid-template-columns: minmax(10px, 200px) minmax(100px, 400px) minmax(100px, 400px) minmax(50px, 200px);
            */
        }

        .title {
            margin-top: 0;
        }
    }
}


@media screen and (max-width: 650px) {
    .title {
        font-size: 33px;
        line-height: 38px;
    }

    .subtitle {
        font-size: 19px;
    }


    .img-wrapper {
        max-height: 60px !important;
        max-width: 180px;

        .header__img {
            max-width: 120px;
        }
    }


}


@media screen and (max-width: 550px) {

    html,
    body {
        font-size: 7px;
    }

    .getPresentation .russian-flag {
        max-width: 40px;
    }

    .getPresentation__text_phone,
    .getPresentation__text_phone:focus {
        padding-left: 70px;
    }
}

@media screen and (max-width: 450px) {

    html,
    body {
        font-size: 5px;
    }

    .header {
        &__title {
            margin: 0;
        }

        &__container {
            grid-template-rows: 25px 90px;
        }
    }

    .getPresentation .label {
        font-size: 2rem;
        left: 23px;
        top: -9px;
    }

    .getPresentation .social-network {
        height: 70px;
    }

    .getPresentation .checkbox-wrapper {
        font-size: 2rem;
    }

    .title {
        font-size: 26px;
        line-height: 27px;
    }

    .subtitle {
        font-size: 13px;
    }

    label:before {
        width: 20px;
        height: 28px;
        font-size: 4rem;
    }
    
    input:checked + label:before {
    content: "✓";
}

}
