@charset "UTF-8";

.header {
  background: #141414;
  color: #fff;
  text-align: left !important;
}

.header__container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: minmax(50px, 200px) minmax(100px, 400px) minmax(100px, 400px) minmax(50px, 200px);
  grid-template-rows: 65px 150px;
  grid-template-areas: 'pdf header__title header__title .' 'pdf header__desc header__desc .' 'header__link header__link img-wrapper img-wrapper';
  max-width: 90%;
  margin: auto;
}

.header .pdf {
  grid-area: pdf;
  max-width: 110px;
}

.header__title {
  grid-area: header__title;
}

.header__desc {
  grid-area: header__desc;
  position: relative;
  text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 0px 2px 0 white, 0px -2px 0 white, 2px 0px 0 white, -2px 0px 0 white, 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white;
  -webkit-text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 0px 2px 0 white, 0px -2px 0 white, 2px 0px 0 white, -2px 0px 0 white, 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white;
  -moz-text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 0px 2px 0 white, 0px -2px 0 white, 2px 0px 0 white, -2px 0px 0 white, 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white;
  font-size: 55px;
  color: #141414;
}

.header .img-wrapper {
  grid-area: img-wrapper;
  justify-self: end;
  max-height: 150px;
  overflow: hidden;
}

.header__link {
  grid-area: header__link;
  align-self: center;
  max-width: 140px;
  max-height: 30px;
}

.getPresentation .title {
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-weight: 100;
}

.getPresentation__desc {
  font-size: 3rem;
  line-height: 3.2rem;
}

.getPresentation__subtitle {
  margin-top: 40px;
  font-weight: 200;
}

.getPresentation .phone-wrapper {
  position: relative;
}

.getPresentation__text_phone,
.getPresentation__text_phone:focus {
  border-radius: 7px;
  padding: 10px 20px;
  border: 1px solid grey;
  z-index: 0;
  position: relative;
}

.getPresentation .label {
  position: absolute;
  top: -9px;
  padding: 3px;
  left: 18px;
  display: block;
  z-index: 1;
  background: #fff;
  font-size: 1.1rem;
}

.getPresentation .checkbox-wrapper {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  max-width: 230px;
}

.getPresentation__label_checkbox {
  padding-left: 1rem;
}

.getPresentation__checkbox {
  cursor: pointer;
}

@font-face {
  font-family: "Nickelodeon";
  src: url("../fonts/Nickelodeon.ttf") format("TrueType");
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.ttf") format("TrueType");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("../fonts/Gilroy-extraBold.otf") format("OpenType");
}

html,
body {
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: 10px;
  text-decoration: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Gilroy;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}

.title-container {
  padding: 70px 0px 150px 0px;
  max-width: 85%;
  margin: 0px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.title-header {
  font-family: Nickelodeon;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}

.header__title-header {
  margin-top: 100px;
}

.title {
  margin-top: 20px;
  font-family: Nickelodeon;
  font-size: 4.5rem;
  line-height: 4.8rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 35px;
  color: #131313;
  padding: 7px 15px;
  background: #8868D9;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.02em;
}

.opacity_1 {
  opacity: 1 !important;
}

.lets-go_anim {
  animation: 45s linear 0s normal none infinite running rot;
  -webkit-animation: 45s linear 0s normal none infinite running rot;
}

.container {
  margin: 0px auto;
  max-width: 90%;
}

.text_no-br {
  white-space: nowrap;
}

.overflow-x_hidden {
  overflow-x: hidden !important;
}

button {
  cursor: pointer !important;
}

.section {
  width: 100%;
}

.text_bold {
  font-weight: 600;
}

.color_alpha {
  color: transparent;
  color: rgba(0, 0, 0, 0);
}

input,
input:focus {
  border: none;
  outline: none;
}

input {
  background: transparent;
  background: rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: 'none';
  box-shadow: 'none';
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #141414 !important;
  /* Цвет фона */
  -webkit-text-fill-color: #fff !important;
  /* цвет текста */
  color: #fff !important;
  /* цвет текста */
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 33px;
    line-height: 38px;
  }

  .subtitle {
    font-size: 19px;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 26px;
    line-height: 27px;
  }

  .subtitle {
    font-size: 13px;
  }
}