div.getPresentation
    div.getPresentation__container.container
        h4.getPresentation__title.title 8 опытных специалистов #[br] по цене 1 штатного
        span.getPresentation__desc Получите презентацию прямо в свой #[br] мессенджер


        h2.getPresentation__subtitle ШАГ 1 - Выберите свой мессенджер
        div.phone-wrapper
            span.label Введите ваш телефон
            img.russian-flag(src='assets/img/header/russian-flag.png')
            input.getPresentation__text.getPresentation__text_phone(type='text' placeholder='+7 (936) 000-11-22')

        div.social-network
            a(href='http://m.me/107398644753468' target='_blank')
                img.social-network__item.social-network__item_messenger(src='assets/img/header/socialNetwork/messenger.png' alt='messenger')
            a(href='tg://resolve?domain=umarkit_umarkit_bot' target='_blank')
                img.social-network__item.social-network__item_telegram(src='assets/img/header/socialNetwork/telegram.png' alt='telegram')
            a(href='viber://pa?chatURI=umarkit' target='_blank')
                img.social-network__item.social-network__item_viber(src='assets/img/header/socialNetwork/viber.png' alt='viber')
            a(href='https://vk.com/im?media=&sel=-200869137' target='_blank')
                img.social-network__item.social-network__item_vk(src='assets/img/header/socialNetwork/vk.png' alt='vkontakte')
    
        div.checkbox-wrapper
            input.getPresentation__checkbox.checkbox(type='checkbox' id='checkbox' checked)
            label.getPresentation__label.getPresentation__label_checkbox(for='checkbox') Вы соглашаетесь с политикой конфиденциальности