header.header
    div.header__container
        img.pdf(src='assets/img/header/pdf.svg')
        h4.title.header__title.text_no-br ВЫГОДНЕЕ ШТАТНИКОВ
        span.title.header__desc.text_no-br УДАЛЕННЫЙ ОТДЕЛ #[br] МАРКЕТИНГА

        a.header__link(href='https://www.umark.it/')
            img(src='assets/img/header/umarkit-logo.svg' alt='логотип')

        div.img-wrapper.img-wrapper_white
            img.header__img.img_white.lets-go_anim(src='assets/img/header/lets-go_white.png' alt='анимация')
