doctype html
head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	title uMark.it
	link(rel='stylesheet' href='assets/css/style-salal.css')
	link(rel='stylesheet' href='assets/css/style.css')
	link(rel='stylesheet' href='assets/css/menu.css')
	link(rel='stylesheet' href='assets/css/burger.min.css')
	link(rel='stylesheet' href='assets/css/spring.css')
	link(rel='stylesheet' href='assets/css/border-anim.css')

body
	include ./header.pug
	include ./getPresentation.pug

	script(src='assets/js/jquery.min.js')
	script(src='assets/js/jquery.maskedinput.js')
	script(src='assets/js/script.js')